In [8]:
import spacy
from spacy.matcher import PhraseMatcher

nlp = spacy.load('en_core_web_sm')

matcher = PhraseMatcher(nlp.vocab, attr='LOWER')

# List of names to match
names = ['John Doe', 'Alice', 'Bob']

# Convert the names to documents
patterns = [nlp(name) for name in names]

matcher.add("NamesMatcher", patterns)

# The text you want to examine
doc = nlp("John Doe and Alice are friends. Bob is Alice's brother.")

# Call the matcher on the doc
matches = matcher(doc)

# Iterate over the matches
for match_id, start, end in matches:
    # Get the matched span
    matched_span = doc[start:end]
    print(matched_span.text)

John Doe
Alice
Bob
Alice

In [14]:
import pandas as pd

file_path = "../data/scraped_data_no_names.csv"
sheet_name = "data"

data = pd.read_csv(file_path, usecols=["name", "transcript"])
data

,name,transcript
0,Inge-Juliana Sackmann Christy,": This is Wednesday, March 20. : March 20. ..."
1,Tom Foulds,"Okay. It is January 15th, 2019, and we are in ..."
2,Richard Eymann,"Our second interview is with Richard Eymann, S..."
3,Bob Cook,"It’s April 29, 2019. Our first interview is wi..."
4,George Warren Reed,"How would you describe your mother, grandmothe..."
...,...,...
589,Robert Ellingson,": My name is Robert Ellingson, and it’s spelle..."
590,Evelyn Ellingson,": My name is Evelyn Ellingson, E-L-L-I-N-G-S-O..."
591,Stirling Auchincloss Colgate,I’m Stirling Auchincloss Colgate. And the fir...
592,Colleen Black,: We’re going to start with your name: could y...
593,Donald Ames,"So Don, why don’t you tell us your name and sp..."

In [13]:
file_path = "../data/profile_names.csv"

name_data = pd.read_csv(file_path, usecols=["name"])
name_data

                   name
0             A. Becher
1         A. Berkemeier
2            A. Bradley
3             A. Castle
4             A. Downey
...                 ...
14303     Zelmar Barson
14304   Zen B. Portwood
14305    Zenas J. Boone
14306    Zola DiMartino
14307  Zygmund E. Sojka

[14308 rows x 1 columns]

In [18]:
import spacy
from spacy.matcher import PhraseMatcher

nlp = spacy.load('en_core_web_sm')

matcher = PhraseMatcher(nlp.vocab, attr='LOWER')

In [19]:
# List of names to match
names = name_data['name']
transcript_example=data['transcript'].iloc[0]

In [21]:
matcher.add("NamesMatcher", patterns)

# The text you want to examine
doc = nlp(transcript_example)

# Call the matcher on the doc
matches = matcher(doc)

# Iterate over the matches
for match_id, start, end in matches:
    # Get the matched span
    matched_span = doc[start:end]
    print(matched_span.text)

Bob
Bob
Bob
Bob
Bob